/* Remove "bolinhas" do carrossel */
.slick-dots {
  display: none !important;
}

/* Reset de margin e padding para garantir um layout limpo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações globais de fonte e corpo */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

/* Header fixo */
header {
  background-color: #05011f;
  height: 8vh; /* Mudança para viewport height */
  padding: 0vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  z-index: 1000;
}

/* Logo com tamanho fixo */
header .logo {
  height: 40vh;
  width: auto;
  margin-left: -1vw;
  object-fit: contain;
  margin-top: 2vh;
  
}

/* Layout principal */
.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 20px 0 20px;
  gap: 20px;
  min-height: calc(100vh - 80px);
}

/* Conteúdo principal */
.content {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 70%;
  margin: 10px;
}

/* Carrossel */
.carousel-container {
  margin-bottom: 30px;
  margin-top: 20px;
}

.carousel {
  display: block;
  margin: 0 auto;
}

.carousel img {
  width: 150%;
  height: auto;
}

/* Botões e upload de arquivo */
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo do container de botões com retângulo azul */
.button-container {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 350px;
  background-color: #05011f;
  padding: 20px;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Estilo da área de arraste de arquivos */
.file-upload-custom {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  padding: 20px;
  background-color: #e9ecef;
  border: 2px dashed #6c757d;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.file-upload-custom:hover {
  background-color: #f8f9fa;
}

.file-upload-custom input[type="file"] {
  display: none;
}

.file-upload-custom label {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.file-upload-custom label:hover {
  text-decoration: underline;
}

/* Estilo para a área de arraste */
.file-upload-drag {
  width: 100%;
  height: 200px;
  border: #000000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #e3f2fd;
  color: #4CAF50;
}

.file-upload-drag:hover {
  background-color: #d0e7f8;
}

.file-upload-drag p {
  font-size: 16px;
  margin: 0;
}

.file-upload-drag.drag-over {
  border-color: #2196F3;
  background-color: #f0f8ff;
}

/* Estilo do botão de escolher arquivo */
#btn-choose-file {
  background-color: #FFD700;
  color: #000000;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

#btn-choose-file:hover {
  background-color: #e0a800;
  border-color: #FFD700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo da área de upload */
.file-upload-area {
  border: 2px dashed #ccc;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
}

.file-upload-area.drag-over {
  border-color: #4CAF50;
  background-color: #f1f8f6;
}

/* Estilos dos botões */
button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 250px;
}

#Button {
  background-color: #ffc107;
  color: black;
}

#p {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

#Button:hover {
  background-color: #e0a800;
}

#returnBtn {
  background-color: #dc3545;
  color: #fff;
}

#returnBtn:hover {
  background-color: #c82333;
}

#result {
  margin-top: 20px;
  text-align: center;
}

/* Footer modificado */
footer {
  background-color: #05011f;
  color: #fff;
  text-align: center;
  padding: vh;
  height: 8vh; /* Mudança para viewport height */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer a:hover {
  text-decoration: underline;
  color: #f0f0f0;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin-bottom: 40px;
  justify-items: center;
  align-content: center;
  row-gap: 100px;
}

.grid-item {
  border: none;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.grid-item p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  hyphens: auto;
  max-width: 30ch;
}

/* Banner e botão de compra */
.banner img {
  width: 15%;
  max-width: 1200px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  margin-bottom: 1px;
}

.banner .buy-button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.buy-button {
  background-color: #F5A623;
  color: #000000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 80px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.buy-button:hover {
  background-color: #FF8C00;
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .content {
    max-width: 100%;
    margin: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {

  
  
  .layout {
    margin-top: 90px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .file-upload-custom {
    width: 100%;
    justify-content: center;
  }

  .file-upload-custom label,
  button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .carousel img {
    max-height: 200px;
    object-fit: cover;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  #btn-choose-file {
    font-size: 14px;
    padding: 12px 20px;
  }

  #p {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {

    .logo {
      max-width: 80%;
      margin-right: 100px;
    }

  header {
    height: 130px;
    margin-left: 10px;
  }

  header,
  footer {
    padding: 10px;
  }

  .file-upload-custom label {
    padding: 12px;
    font-size: 14px;
  }

  button {
    padding: 12px;
    font-size: 14px;
  }
}